/*
Project Name: Fake Restaurant
Author: Ryan Server
email: wolfhoundsdev@gmail.com

NOTE: Be kind. Still learning.

*/

/***** =02 Typography *****/

.bbody{
font-family: Arial !important;
  font-size: 15px !important;
  background-color: silver
 
}

/*** PRIMARY NAVIGATION MENU ***/
/* -- presentation --*/
/* -- layout --*/


/***** =04 Layout *****/


h4, h2{
	font-weight:bold !important;
}
.site-header,
.site-footer {

}

.site-footer1 {
	font-family: Arial;
	font-size: 1em; 
	position:absolute !important;
	bottom:40px !important;
	width:100% !important;
	border-top: 1px solid black;
	text-align: center;
}
@font-face {
	font-family: 'Fascinate', cursive;
	src: url(https://fonts.googleapis.com/css?family=Fascinate&display=swap);
}
.page_title{
	font-family: 'Fascinate', cursive;
	text-align:center;
	
}
